Surakarta_Game.pro.user
Surakarta_Game.pro.user.28d1de0
Surakarta_Game.pro.user.dd46096
/build-Surakarta_Game-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/build-Surakarta_Game-Desktop_Qt_6_6_2_MinGW_64_bit-Debug